<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Bean的生命周期 -->
    <bean id="man" class="com.example.bean.demo.lifecycle.Man" init-method="setUp" destroy-method="tearDown">
        <property name="name" value="Life"/>
    </bean>

    <bean class="com.example.bean.demo.lifecycle.MyBeanPostProcessor"/>

</beans>