<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--XML只管理类，注解的方式进行属性注入-->
    <context:annotation-config/>
    <!--纯XML的方式，set方法注入-->
    <bean id="productService" class="com.example.bean.demo.all.ProductService"/>

    <bean id="productDao" class="com.example.bean.demo.all.ProductDao"/>

    <bean id="categoryDao" class="com.example.bean.demo.all.CategoryDao"/>

</beans>